<form method="post" action="{{ path('app_gardes_delete', {'id': garde.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ garde.id) }}">
    <button class="btn">Delete</button>
</form>
